<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fetch API</title>
    <style>
      table,
      th,
      td {
        border: solid black 1px;
        border-collapse: collapse;
        padding: 5px 10px;
      }
    </style>
    <script src="https://unpkg.com/petite-vue" defer init></script>
  </head>

  <body v-scope="dataset()">
    <p>
      <button @click="fetchData">データ取得</button>
    </p>
    

    <table v-if="data">
      <thead>
        <tr>
          <th>name</th>
          <th>type</th>
          <th>weight</th>
          <th>ability</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="p in data" :key="p.name">
          <td>{{ p.name }}</td>
          <td>{{ p.type }}</td>
          <td>{{ p.weight }}</td>
          <td>{{ p.ability }}</td>
        </tr>
      </tbody>
    </table>
  </body>

    <script>
    function dataset() {
      return {
        data: [],
        async fetchData() {
          const res = await fetch('data.json');
          const json = await res.json();
          this.data = json.list;
        }
      };
    }
      
    </script>

</html>
